:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-bar: #23232e;
    --cor-fundo: #f80091bd;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .search-box input {
        font-size: 12px;
    }

    .box .search-box {
        height: 45px;
        max-width: 45px;
        left: 0;
        font-size: 12px;
    }

    #check:checked~.search-box {
        max-width: 200px;
    }

    #check:checked~.search-box .icon {
        background-color: var(--cor-bar);
        color: var(--cor-fonte);
        border-radius: 0 25px 25px 0;
        width: 60px;
    }
}