@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}


:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #23232e;
    --cor-fundo: #f80091bd;

}

body {
    margin: 0;
    padding: 0;
}

.span-color {
    color: rgb(255, 61, 168);
}



a.stro {
    color: var(--cor-fonte);
    text-decoration: none;
    transition: 0.3s;
}

a.stro:hover {
    opacity: 0.7;
}

a.logo:hover {
    opacity: 0.7;
}

.logo {
    text-decoration: none;
    color: var(--cor-fonte);
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--cor-bar);
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--cor-fonte);
    margin: 8px;
    transition: 0.3s;
}

nav .limob {
    display: none;
}
