@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}


:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #23232e;
    --cor-fundo: #f80091bd;

}

body {
    margin: 0;
    padding: 0;
}

.fav i {
    margin-top: 0px;
    display: inline-block;
    color: red;
    font-size: 25px;
}


.logo img {
    width: 130px;

}

/* campo de busca */

.box-2 {
    display: none;
}

.box {

    width: 100%;
    max-width: 400px;
}

.box .search-box {
    overflow: hidden;
    position: relative;
    height: 45px;
    max-width: 380px;
    margin: auto;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.075)75;
    border-radius: 25px;
    transition: all 0.3s ease;
}

/*
#check:checked ~ .search-box{
    max-width: 380px;

}*/
.search-box input {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: var(--cor-fonte);
    outline: none;
    border: none;
    padding: 20px;
    font-size: 18px;
}

.search-box .icon {
    overflow: hidden;
    position: absolute;
    right: -2px;
    top: 0;
    font-size: 20px;
    width: 50px;
    color: var(--cor-fonte);
    background-color: var(--cor-bar);
    height: 100%;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
}

/*
#check:checked ~ .search-box .icon{
    background-color: var(--cor-bar);
    color: var(--cor-fonte);
    border-radius: 0 25px 25px 0;
    width: 60px;

}*/
#check {
    display: none;
}

.sacola {
    display: none;
}


/* fim do campo de busca */

.span-color {
    color: rgb(255, 61, 168);

}

/* Inicio Barra Lateral */
a.stro {
    color: var(--cor-fonte2);
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    margin-left: 25px;
    letter-spacing: 2px;
    display: flex;
}

li .stro2 {
    color: black;

}

a.stro:hover {
    opacity: 0.7;
}

a.logo:hover {
    opacity: 0.7;
}

.logo {
    text-decoration: none;
    color: var(--cor-fonte2);
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--cor-fonte2);
    margin: 8px 10px;
    transition: 0.3s;
}

nav .limob {
    display: none;
    color: var(--cor-fonte);
}
section{
    padding: 6% 10% 1% 10%;
}
/* Fim Barra Lateral */