@media screen and (min-width: 320px) and (max-width: 534px) {
    body {
        overflow-x: hidden;
    }


    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 37vw;
        height: 92vh;
        background: var(--cor-bar);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        font-size: 10px;
    }

    .nav-list li {
        letter-spacing: 1px;
        margin-left: 32px;
    }


    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    nav .limob {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    /* SLIDE */
    .wrapper,
    .slidie {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slidie {
        overflow: hidden;
    }

    .slide .image {
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

    .slide .image-date {
        position: absolute;
        top: 18%;
        left: 35%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    .image-date h2 {
        font-size: 18px;
        font-weight: 600;
        color: #161c3ba8;
        object-fit: cover;
    }

    a.button {
        margin-top: 10px;
        text-decoration: none;
        display: inline-block;
        padding: 5px 10px;
        background: var(--cor-bar);
        color: var(--cor-fonte);
        transition: all 0.3s ease;
        font-size: 15px;
    }

    a.button:hover {
        opacity: 0.7;
        color: var(--cor-fonte);
        background-color: #161c3bf7;

    }
}

.time-line {
    width: 90vh;
    display: flex;
    overflow: ;
    
}

div .image {
    width: 100px;
    height: 100px;
}

div .cards #product-1 {
    margin-left: 50px;
}

div .cards #product-2 {
    margin-left: 50px;
}

div .cards #product-3 {
    margin-left:50px;
}








@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}