
:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #23232e;
    --cor-fundo: #f80091bd;

}
.categs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
    margin: 0, 0, 0;
}
.categories h2{
    color: var(--cor-fonte2);
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}
.pow{
    position: relative;
    transition: all .40s;
}
.pow img{
    width: 100%;
    height: auto;
    transition: all .40s;
}


.pow .categ-btn {
    text-align: center;
    overflow-y: hidden;
    position: absolute;
    display: inline-block;
    z-index: 2;
    top: 0;
    left: 0;
    width: 160px;
    height: 40px;
    margin-top: 9rem;
    margin-left: 2rem;
    color: var(--cor-fonte);
    font-size: 16px;
    border: 2px solid var(--cor-fonte);
    padding: 8px 15px;
    transition: all .42s ease;

}

.pow .categ-btn:hover {
    background-color: var(--cor-fonte);
    color: var(--cor-fonte2);
}

.pow .locais-btn i{
    vertical-align: middle;
}
.pow .locais-btn {
    text-align: center;
    overflow-y: hidden;
    position: absolute;
    display: inline-block;
    z-index: 2;
    top: 0;
    left: 0;
    width: 160px;
    height: 40px;
    margin-top: 6rem;
    margin-left: 16rem;
    color: var(--cor-fonte);
    font-size: 16px;
    border: 2px solid var(--cor-fonte);
    padding: 8px 15px;
    transition: all .42s ease;

}

.pow .locais-btn:hover {
    background-color: var(--cor-fonte);
    color: var(--cor-fonte2);
}

.pow .locais-btn i{
    vertical-align: middle;
}

@media screen and (min-width: 320px){
    .pow .locais-btn {
        z-index: 2;
        top: 0;
        left: 0;
        width: 160px;
        height: 40px;
        margin-top: 1.5rem;
        margin-left: 9rem;
        font-size: 16px;
        padding: 8px 15px;
        transition: all .42s ease;
    
    }
}
