:root {
    --cor-fonte: #FFFF;
    --cor-fonte2: #000;
    --cor-fonte3: #c70074d2;
    --cor-bar: #ffffff;
    --cor-fundo: #f80091bd;
    --cor-fundo2: #d12089;
    --cor-fundo3: rgb(0, 29, 110);
}

h1 .title-cart {
    color: var(--cor-fonte2);
    font-size: 38px;
    text-transform: capitalize;
    overflow: hidden;
}

.card {
    display: flex;
    position: absolute;
    width: 162vh;
    height: 100vh;
    background-color: var(--cor-bar);
    border-radius: 10px;
    padding: 35px;
}
.container-product{
    overflow: hidden;
    transition: all .40s;
}
.container-product .container{
    overflow: hidden;
}

.product-info h2{
    text-align: center;
    font-size: 22px;
}

.product-info p{
    font-size: 18px;
    margin-left: 20px;
}

.product-card img{
    width: 100%;
    overflow: hidden;
    height: auto;
    transition: all .40s;
}

.mini-imgs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26px, auto));
    gap: 2rem;
    margin: 0, 0, 0;
}


.mini-pics-product{
    display: flex;
    position: relative;
    transition: all .40s;
    width: 130px;
    margin-left: 10px;
    border-radius: 10px;
}

.mini-pics-product img{
    width: 100%;
    height: auto;
    transition: all .40s;
}
